<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIYPlatform</title>
</head>
<body>
    <h1>DIY Platform</h1>
    <a href="/authors">Author</a>
    <a href="/posts">Post</a>
</body>
</html>